{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    assign availabilityOption = product.selected_or_first_available_variant.option1 | downcase

    if availabilityOption == "ready to ship"
      assign isDeposit = true
    else
      assign isDeposit = true
    endif

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false

            if availabilityOption == "deposit" or availabilityOption == "ready to ship"

              for variant in product.variants
                assign availability = variant.option1 | downcase
                if availability == 'ready to ship' and variant.option2 == value and variant.available
                  assign isDeposit = false
                  break
                endif
              endfor
            endif

          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false

            if availabilityOption == "ready to ship" or availabilityOption == "deposit"
              for variant in product.variants
                assign availability = variant.option1 | downcase
                if availability == 'ready to ship' and variant.option3 == value and variant.available and variant.option2 == product.selected_or_first_available_variant.option2
                  assign isDeposit = false
                  break
                endif
              endfor
            endif

          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled and product.options_with_values[0].name != "Availability" %}
        class="disabled"
      {% endif %}
    >
    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" id="{{ option.name }}-Options">

      {%- if product.options_with_values[0].name == "Availability" and isDeposit == false -%} 
        <svg width="10" height="10" aria-hidden="true" spacing="auto">
          <circle cx="7" cy="7" r="3" fill="rgb(62,214,96)"/> 
        </svg>
        <span>&nbsp;</span>
      {%- endif -%}
      
      {{ value -}}
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
